<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'><!-- fontz -->

    </head>
    <body>
        <header class="header">
          <div class="header-wrapper">
            <h1 class="header-logo">Reality SF | Events</h1>
            <a href="#create" class="header-create-event button">Post An Event</a>
          </div>
        </header>
        <div class="container">

          <div id="main">
            <h1>Loading...</h1>
          </div>
        </div>

        <!-- Underscore templates -->
        <script type="text/template" id="filters">
          <div class="filters">
          <div class="date filter span4">
            <label>When:</label>
                <select id="when">
                  <option value=''>All</option>
                  <option value='0'>Today</option>
                  <option value='3'>Next 3 Days</option>
                  <option value='7'>Next 7 Days</option>
                </select>
          </div>

          <div class="date filter span4">
          <label>Category:</label>
          <select id="category">
            <option value=''>All</option>
            <option value='food'>food</option>
            <option value='fun'>fun</option>
            <option value='sports'>sports</option>
            <option value='speed dating'>speed dating</option>

          <label>When:</label>
          <select id="when">
            <option value=''>Anytime</option>
            <option value='0'>Today</option>
            <option value='3'>Next 3 Days</option>
            <option value='7'>Next 7 Days</option>
          </select>
          </div>

          <div class="date filter span4">
          <label>Neighborhood:</label>
          <select id="neighborhood">
            <option value=''>All</option>
            <option value='mission'>Mission</option>
            <option value='soma'>SOMA</option>
          </select>
          </div>

          </div>

        </script>
        <script type="text/template" id="index">
          <div class="filters row-fluid"></div>
          <div class="event-list"></div>
        </script>
        <script type="text/template" id="event-short">
          <a href='#event/<%= id %>'>
          <ul class="tag-list">
          <% for(var tag in tags) { %>
            <li class="tag"><%= tags[tag] %></li>
          <% } %>
          <% if (neighborhood) { %>
            <li class="tag neighborhood"><%= neighborhood %></li>
          <% } %>
          </ul>
          <h2><%= title %></h2>
          <p class="date-time"><%= formattedDate %></p>
          </a>
        </script>
        <script type="text/template" id="event">
          <a href="#" class="button-alt back">← Back to list</a>
          <div class="event-view">
            <ul class="tag-list">
            <% for(var tag in tags) { %>
              <li class="tag"><%= tags[tag] %></li>
            <% } %>
            <% if (neighborhood) { %>
              <li class="tag neighborhood"><%= neighborhood %></li>
            <% } %>
            </ul>
            <h1><%= title %></h1>
            <p class="date-time"><%= formattedDate %> at <%= location %></p>
            <div class="event-description"><%= description %></div>
          </div>
          <div class="event-join-container row-fluid">
            <div id="event-join-status" align="right">
              <p class="join-count">4 people have joined this event.</p>
              <input type="button" value="Join This Event" class="show-form button"/>
            </div>
            <div id="event-join-form-div" style="display:none" class="event-join-form">
              <form id="event-join-form" align="right">
                <input type="text" name="name" class="name span3" placeholder="Name" />
                <input type="text" name="email" class="email span3" placeholder="Email" />
                <input type="text" name="phone" class="phone span3" placeholder="Phone" />
                <input type="submit" value="OK" class="join-event button" />
              </form>
            </div>
            <div id="event-join-success" align="right" style="display:none">
              <p class="success-message">You have successfully been added to this event.</p>
              <span class="button success-button">Success!</span>
            </div>
          </div>
        </script>
        <script type="text/template" id="event-create">
          <a href="#" class="button-alt back">← Back to list</a>
          <div class="create-view row-fluid">
            <h1>Create Event</h1>
            <form id="event-create-form">
              <label class="hidden">Title:</label>
              <input type="text" name="title" class="title span12" placeholder="Title">

              <div class="row-fluid"><label>Date & Time</label>

                            <select name="month" class="month span3">
                              <option value="1">January</option>
                              <option value="2">February</option>
                              <option value="3">March</option>
                              <option value="4">April</option>
                              <option value="5">May</option>
                              <option value="6">June</option>
                              <option value="7">July</option>
                              <option value="8">August</option>
                              <option value="9">September</option>
                              <option value="10">October</option>
                              <option value="11">September</option>
                              <option value="12">December</option>
                            </select>

                            <select name="day" class="day span3">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                              <option value="16">16</option>
                              <option value="17">17</option>
                              <option value="18">18</option>
                              <option value="19">19</option>
                              <option value="20">20</option>
                              <option value="21">21</option>
                              <option value="22">22</option>
                              <option value="23">23</option>
                              <option value="24">24</option>
                              <option value="25">25</option>
                              <option value="26">26</option>
                              <option value="27">27</option>
                              <option value="28">28</option>
                              <option value="29">29</option>
                              <option value="30">30</option>
                              <option value="31">31</option>
                            </select>

                            <select name="year" class="year span3">
                              <option value="2013">2013</option>
                              <option value="2014">2014</option>
                              <option value="2015">2015</option>
                            </select>

                            <select name="hour" class="hour span3">
                              <option value="1">1 AM</option>
                              <option value="2">2 AM</option>
                              <option value="3">3 AM</option>
                              <option value="4">4 AM</option>
                              <option value="5">5 AM</option>
                              <option value="6">6 AM</option>
                              <option value="7">7 AM</option>
                              <option value="8">8 AM</option>
                              <option value="9">9 AM</option>
                              <option value="10">10 AM</option>
                              <option value="11">11 AM</option>
                              <option value="12" selected>12 PM</option>
                              <option value="13">1 PM</option>
                              <option value="14">2 PM</option>
                              <option value="15">3 PM</option>
                              <option value="16">4 PM</option>
                              <option value="17">5 PM</option>
                              <option value="18">6 PM</option>
                              <option value="19">7 PM</option>
                              <option value="20">8 PM</option>
                              <option value="21">9 PM</option>
                              <option value="22">10 PM</option>
                              <option value="23">11 PM</option>
                              <option value="0">12 AM</option>
                            </select></div>

              <label class="hidden">Location:</label>
              <input type="text" name="location" class="location span8" placeholder="Location (optional)">

              <select name="neighborhood" class="neighborhood span4">
                <option value="null" selected>Neighborhood</option>
                <option value="Alemeda">Alemeda</option>
                <option value="Alamo Square">Alamo Square</option>
                <option value="Castro">Castro</option>
                <option value="Cole Valley">Cole Valley</option>
                <option value="Hayes Valley">Hayes Valley</option>
                <option value="Inner Sunset">Inner Sunset</option>
                <option value="Marina">Marina</option>
                <option value="Mission">Mission</option>
                <option value="Noe Valley">Noe Valley</option>
                <option value="NOPA">NOPA</option>
                <option value="North Beach">North Beach</option>
                <option value="Pac Heights">Pac Heights</option>
                <option value="SOMA">SOMA</option>
              </select>

              <label class="hidden">Description:</label>
              <textarea name="description" class="description span12" placeholder="Description"></textarea>

              <br/>

              <select name="category" class="category span4">
                <option value="null" selected>Event Category</option>
                <option value="lunch">Lunch</option>
                <option value="sports">Sports</option>
                <option value="service">Service</option>
              </select>

              <input type="text" name="min_attendees" class="min_attendees span4"  placeholder="Min people (optional)" />
              <input type="text" name="max_attendees" class="max_attendees span4" placeholder="Max people (optional)" />

              <br/>

              <div class="create-or-cancel">
              <a href="#" class="cancel">Cancel</a>
              <input type="button" value="Create Event" class="post-event button"/>
              </div>
            </form>

          </div>
        </script>
        <!-- endtemplates -->

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- build:js scripts/main.js -->
        <script src="/bower_components/jquery/jquery.js"></script>
        <script src="/bower_components/underscore/underscore.js"></script>
        <script src="/bower_components/backbone/backbone.js"></script>
        <script src="/scripts/models/event.js"></script>
        <script src="/scripts/views/event.js"></script>
        <script src="/scripts/views/index.js"></script>
        <script src="/scripts/views/filters.js"></script>
        <script src="/scripts/views/event_short.js"></script>
        <script src="/scripts/views/event_list.js"></script>
        <script src="/scripts/views/event_create.js"></script>
        <script src="/scripts/router.js"></script>
        <script src="/scripts/mock_data.js"></script>
        <script src="/scripts/vendor/moment.js"></script>
        <script src="/scripts/main.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="/bower_components/sass-bootstrap/js/bootstrap-affix.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-alert.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-tooltip.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-modal.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-transition.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-button.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-popover.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-typeahead.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-carousel.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-scrollspy.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-collapse.js"></script>
        <script src="/bower_components/sass-bootstrap/js/bootstrap-tab.js"></script>
        <!-- endbuild -->
</body>
</html>
