$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

$darkblue: #323c46; 
$green: #7ec479;

a {
	text-decoration: none;
}

body {
	font-family: "Open Sans",sans-serif;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.header {
	background-color: $darkblue;
	padding: 1.3em 0;
	@include clearfix;
}

.header-wrapper {
	padding: 0 1em;
	max-width: 940px;
	margin: 0 auto;
}

.header-logo {
	background: url('/images/reality-logo.png') top left no-repeat;
	background-size: 265px 65px;
	height: 60px;
	width: 265px;
	text-indent: -9999px;
	float: left;
}

.header-create-event {
	float: right;
}

.button {
	display: inline-block;
	background-color: $green;
	@include border-radius(4px);
	text-decoration: none;
	color: #fff;
	padding: 1em 2.1em;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

.header-create-event {
	margin-top: 20px;
}